body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #002848;
    font-weight: 300;
    background-color: #f8fbfe;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1080px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}
h2 {
    margin: 28px 0 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
ol{
    margin: 0;
    padding-left: 15px;
}
.spacer{
    height: 28px;
}
.box{
    border-radius: 20px;
    padding: 28px 40px 24px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
@media(max-width: 479px) {
    .box{
        padding: 20px;
    }
}

/* Button */
.btn{
    font-size: 12px;
    line-height: 16px;
    color: #f15631;
    font-weight: 700;
    padding: 8px 16px;
    position: relative;
    border-radius: 4px;
    letter-spacing: 0.01em;
    background-color: #FFF;
    transition: all .2s ease;
    text-transform: uppercase;
    border: 2px solid #f15631;
}
.btn:hover,
.btn:active{
    outline: none;
    cursor: pointer;
}
.btn:disabled{
    opacity: 0.8;
    cursor: not-allowed;
}
/* .btn:active{
    right: -2px;
    bottom: -2px;
} */
.primary-btn{
    color: #FFF;
    background-color: #F15631;
}
.primary-btn:hover,
.primary-btn:active{
    border-color: #fc7555;
    background-color: #fc7555;
}
.secondary-btn{
    color: #f15631;
    background-color: #FFF;
}
.secondary-btn:hover,
.secondary-btn:active{
    color: #fc7555;
    border-color: #fc7555;
}

/* Header */
.header {
    color: #fff;
    background-color: #163f5f;
    background: linear-gradient(125.85deg, #214A6A 29.73%, #002848 98.42%);
}
.header .inner {
    padding: 20px 0 10px;
}
@media (max-width: 767px) {
    .header .inner h1{
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .header .inner {
        display: flex;
        padding: 36px 0;
        align-items: center;
        justify-content: space-between;
    }
}
.header .logo {
    height: 40px;
}
.header .logo .icon-text path {
    fill: #FFF;
}

/* Main */
.main{
    margin: 24px 0 50px;
}
.main .form-section{
    width: 480px;
    max-width: 100%;
}
.main .preview{
    min-width: 450px;
}
@media (max-width: 919px) {
    .main .preview-section{
        margin-top: 20px;
        overflow: hidden;
        overflow-x: auto;
    }
    .preview-sticky{
        margin-bottom: 20px;
    }
    .preview{
        display: inline-block;
    }
}
@media (min-width: 920px) {
    .main .inner{
        display: flex;
    }
    .main .form-section{
        margin-right: 20px;
    }
    .main .preview-section{
        max-width: 580px;
    }
}

/* Form */
.form .field{
    margin-bottom: 32px;
}
.form .field-submit{
    margin-top: -4px;
}
.form .field-label{
    color: #002848;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}
.form .field-desc,
.form .field-error{
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
}
.form .field-desc{
    color: #002848;
}
.form .field-error {
    color: red;
}
.form .field-label,
.form .field-desc,
.form .field-error{
    margin-left: 4px;
}
.form .field-control{
    margin-top: 4px;
}
.form .field-control select,
.form .field-control input[type="text"]{
    width: 100%;
    height: 44px;
    color: #002848;
    line-height: 1;
    font-size: 18px;
    padding: 0 15px;
    font-weight: 300;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #CBD8EB;
    font-family: 'Roboto', sans-serif;
}
@media(max-width: 479px) {
    .form .field-control select,
    .form .field-control input[type="text"]{
        height: 36px;
        font-size: 14px;
    }
}
.form .field-control{
    position: relative;
}
.form .field-control select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.field-select .field-control::after{
    top: 50%;
    margin-top: -3.5px;
    content: " ";
    right: 20px;
    width: 10px;
    height: 7px;
    display: block;
    position: absolute;
    background: url('dropdown.svg') no-repeat;
}
.form .field-submit button{
    margin-right: 20px;
}
@media (max-width: 480px) {
    .form .field-submit button{
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.form ol li{
    margin-bottom: 5px;
}
.form ol li:last-child{
    margin-bottom: 0;
}

/* Preview */
@media (min-width: 768px) {
    .preview-sticky{
        top: 20px;
        position: sticky;
    }
}
.preview{
    padding: 20px;
}
.preview-buttons{
    margin-top: 15px;
    margin-left: 20px;
}
.preview-buttons button + button {
    margin-left: 10px;
}